{erl_opts, [debug_info]}.
{deps, [
    {ekaf, ".*", {git, "git://github.com/helpshift/ekaf.git"}},
    {epcap, ".*", {git, "git://github.com/msantos/epcap.git"}},
    {amqp_client, "3.5.6"}
]}.

{relx, [
        {release,
            { stethoscope, "1.1.1" }, 
            [ sniffer, epcap, pkt, ekaf, amqp_client, kernel, sasl]
        },
        {dev_mode, false},
        {include_erts, true},
        {include_src, false},
        {extended_start_script, true}
    ]
}.
