{erl_opts, [debug_info]}.
{deps, [
    {ekaf, ".*", {git, "git://github.com/helpshift/ekaf.git"}},
    {epcap, ".*", {git, "git://github.com/msantos/epcap.git"}}
]}.

{relx, [
        {release, { udpserver, "0.1.0" }, [udpserver, epcap, pkt, ekaf, kernel, sasl]},

        {dev_mode, false},
        {include_erts, false},
        {include_src, false},
        {extended_start_script, true}
    ]
}.
